# keep this sorted

.*.swp

# homeassistant files
home-assistant.log
home-assistant_v2.db
.HA_VERSION
.uuid

# generated configs
ecobee.conf
harmony_harmony_hub.conf
nest.conf
phue.conf

# manage this separately
secrets.yaml
