# keep this sorted

.*.swp

# homeassistant files
.HA_VERSION
.cloud
.uuid
home-assistant.log
home-assistant_v2.db

# generated configs
ecobee.conf
harmony_harmony_hub.conf
nest.conf
phue*.conf

# manage this separately
secrets.yaml
