# placeholder, just a list of keys used
homeassistant_latitude: 31
homeassistant_longitude: 80
homeassistant_elevation: 9
homeassistant_unit_system: imperial
homeassistant_time_zone: America/New_York
mqtt_broker: mqtt
mqtt_user: homeassistant
mqtt_password: haha
ecobee_api_key: lol
slack_api_key: nope
hue_light_host: 10.0.0.0.0.0.1
sleepiq_username: foo@example.com
sleepiq_password: bar
vera_controller_url: http://192.168.1.161:3480/
vera_portal_url: http://192.168.1.161
nest_client_id: 1234
nest_client_secret: 1234
rachio_access_token: secret-secret-secret
cloud_mode: ""
cloud_cognito_client_id: ""
cloud_user_pool_id: ""
cloud_region: ""
cloud_relayer: ""
kodi_host:
kodi_port:
