# placeholder, just a list of keys used

homeassistant_latitude: 1234
homeassistant_longitude: 5678
homeassistant_elevation: 9
homeassistant_unit_system: imperial
homeassistant_time_zone: America/New_York
