# placeholder, just a list of keys used

homeassistant_latitude: 1234
homeassistant_longitude: 5678
homeassistant_elevation: 9
homeassistant_unit_system: imperial
homeassistant_time_zone: America/New_York
mqtt_broker: mqtt
mqtt_user: homeassistant
mqtt_password: haha
ecobee_api_key: lol
slack_api_key: nope
hue_light_host: 10.0.0.0.0.0.1
sleepiq_username: foo@example.com
sleepiq_password: bar
vera_controller_url: http://192.168.1.161:3480/
